/*Theme 2*/
$body-bg2:hsl(0, 0%, 90%);
$keypad-bg2:  hsl(0, 5%, 81%);
$screen-bg2: hsl(0, 0%, 93%);
$key-reset-bg2: hsl(185, 42%, 37%);
$key-reset-shadow2: hsl(185, 58%, 25%);
$key-result-bg2: hsl(25, 98%, 40%);
$key-result-shadow2: hsl(25, 99%, 27%);
$key-main-bg2: hsl(45, 7%, 89%);
$key-main-shadow2:hsl(35, 11%, 61%);
$text-numbers2: hsl(60, 10%, 19%);
$text-white: white;

.hide {
    opacity: 0;
}

.calculator--2 {
    background-color: $body-bg2;
}

.calculator__top--2 {
    color: $text-numbers2
}

.options__container--2 {
    background-color: $keypad-bg2;
}

.options--active-2 {
    background-color: $key-result-bg2;
    transition: background-color .3s ease-in-out;
}

.calculator__view--2 {
    background-color: $screen-bg2;
    color: $text-numbers2;
}

.calculator__keyboard--2 {
    background-color: $keypad-bg2;
}

.grid__item {

    &-2 {
        background-color: $key-main-bg2;
        box-shadow: 0px 3.5px 0 0px $key-main-shadow2;
    
    }

    &--complete-2 {
        color: $text-white;
        background-color: $key-reset-bg2;
        box-shadow: 0px 3.5px 0 0px $key-reset-shadow2;
    }

    &--result-2 {
        color: $text-white;
        background-color: $key-result-bg2;
        box-shadow: 0px 3.5px 0 0px $key-result-shadow2;
    }
}